.Statistics {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* Add flex-wrap property to wrap cards to the next row */
    justify-content: center;
    /* Center align the cards horizontally */
    gap: 20px;
    /* Adjust the value to increase/decrease the horizontal space */
    padding: 20px;
  }
  
  .rowOne {
    display: flex;
    justify-content: center;
  }
  
  .rowTwo {
    display: flex;
    justify-content: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  
  .card {
    text-align: center;
    display: flex-wrap;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    background-color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }