.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .body{
    height: 300%;

  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f2f2f2;
    background-image: linear-gradient(45deg, #ebebeb 25%, transparent 25%, transparent 75%, #ebebeb 75%),
      linear-gradient(45deg, #ebebeb 25%, transparent 25%, transparent 75%, #ebebeb 75%, #ebebeb);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid #2196f3;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
  }
  
  .centered::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: black;
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    z-index: -1;
  }
  
  
  
  form {
    display: flex;
    padding-top: 0px;
    flex-direction: column;
    gap: 10px;
  }
  
  form label {
    display: flex;
    align-items: center;
  }
  
  form label > span {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
  }
  
  form input,
  form select {
    width: 250px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    width: 120px;
    margin-top: 20px;
    padding: 10px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0c7dda;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-field label {
    width: 100px;
    margin-right: 10px;
    display: inline;
  }
  
  .form-field input,
  .form-field select {
    flex: 1;
    border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  }
  
  
  .submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .submit-button-container button {
    padding: 10px 20px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button-container button:hover {
    background-color: #0c7dda;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 500px;
    padding-bottom: 40px; /* Centers the image horizontally */
   /* Centers the image vertically */
  
  }
  
  .form-container {
    flex: 1;  
    padding-left: 200px; /* Adds some space between the image and form */
    padding-right: 10rem;
  }
  
  .center-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding-top: 0rem;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 150px;
  }
  
  .image-container img {
    display: block;
    max-width: 150%;
    height: auto;
  }
  
  .image-container {
    margin-left: 10rem;
    margin-top: 10rem;
    position: relative;
  }
  
  .form-container {
    width: 300px;
  }
  
  .heading {
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-field input:focus,
  .form-field select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .checkbox-container label {
    display: flex;
    padding-left: 50px;
    align-items: center;
    margin-bottom: 10px;
    white-space: nowrap; /* Added property */
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
  }